.fa {
  font-size: 1.5em;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: color .5s ease-in-out;
}

.fa:hover {
  text-decoration: none;
}

.fa-facebook {
  color: #aaa;
}

.fa-facebook:hover {
  color: #3B5998;
}

.fa-twitter {
  color: #aaa;
}

.fa-twitter:hover {
  color: #55ACEE;
}

.fa-youtube {
  color: #aaa;
}

.fa-youtube:hover {
  color: #bb0000;
}

.fa-instagram {
  color: #aaa;
}

.fa-instagram:hover {
  color: #125688;
}


.fa-linkedin:hover {
  color: #007bb5;
  border-color: #007bb5;
  text-decoration: none;
}

.fa-github:hover {
  color: #007bb5;
  border-color: #007bb5;
  text-decoration: none;
}



.fa-phone:hover {
  color: black;
  text-decoration: none;
  border-color: black;
}