<div class="container-fluid section" style="background-color: rgb(96, 96, 96);">
  <div class="row">
    <div class="col-sm-6">
      <div class="address"><a class="footer-link" href="tel:1-347-688-5690">+1 (347) 688 5690</a></div>
      <div class="address"><a class="footer-link" href="mailto:antony@antonyholmes.com">antony@antonyholmes.com</a></div>
      <div class="address"><a class="footer-link" href="https://linkedin.com/in/antonybholmes" target="_blank">linkedin.com/in/antonybholmes</a></div>
      <div class="address"><a class="footer-link" href="https://github.com/antonybholmes" target="_blank">github.com/antonybholmes</a></div>
    </div>
    <div class="col-sm-6">
      <div class="address address-right" style="color: white;">&copy; 2018 <a class="footer-link" href="mailto:antony@antonyholmes.com">Antony Holmes</a></div>
    </div>
  </div>
</div>

