<div class="container-fluid">
  <div class="row" >
    <!-- hide on small displays -->
    <div class="col-sm-3 sidebar d-none d-sm-block" style="position: relative; height: 350px;">
      <img class="rounded-circle" style="position: absolute; top: 20px; right: -20px; width: 300px; box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);" alt="Antony Holmes" src="images/antony_holmes_bw.jpg" >
      
    </div>
    <div class="col-sm-3 d-block d-sm-none">
      <div style="padding: 5%;">
        <img class="rounded-circle img-fluid" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);"  alt="Antony Holmes" src="images/antony_holmes_bw.jpg" >
      </div>
    </div>
    <div class="col-sm-9">
      <div class="container-fluid">
