<div class="row align-items-center">
    <div class="col-sm-3 text-right">
        <a href="https://github.com/antonybholmes" target="_blank"><img src="./images/github.png" alt="GitHub" style="width: 120px;" /></a>
    </div>
    <div class="col-sm-4">
        <a class="email" href="https://github.com/antonybholmes" target="_blank">github.com/antonybholmes</a>
    </div>
</div>


<div class="row align-items-center" style="margin-top: 40px;">
    <div class="col-sm-3 text-right">
        <a href="https://linkedin.com/in/antonybholmes" target="_blank"><img src="./images/linkedin.png" alt="LinkedIn" style="width: 60px;" /></a>
    </div>
    <div class="col-sm-4">
        <a class="email" href="https://linkedin.com/in/antonybholmes" target="_blank">linkedin.com/in/antonybholmes</a>
    </div>
</div>

