
      <div class="work-dates">2017-present</div>
      <img src="images/ny_cares.png" style="width: 100px;" alt="New York Cares">
      <div class="work-location">New York Cares Team Leader</div>
      <div class="work-description">
        <ul>
            <li>I am an IRS certified volunteer tax preparer and I help New York residents prepare and file their tax 
            returns for free during the tax season.</li>
            <li>Reviewing client tax documents and offering 
            help and guidance.</ii>
            <li>Preparing returns using tax software, and quality control to verify returns
            are accurate.</li>
            <li>Manage a small team of volunteers and act as a liaison between New York Cares 
            and partner organizations.</li>
        </ul>
      </div>