<div class="timeline">
  <div class="timeline-container timeline-left">
    <div class="timeline-content">
      <div style="font-size: 1.2em; padding-bottom: 10px;">2017-present</div>
      <image src="images/ny_cares.png" style="width: 200px;">
    </div>
  </div>
  <div class="timeline-container timeline-right">
    <div class="timeline-content">
      <div style="font-size: 1.2em; padding-bottom: 10px;">2011-present</div>
      <image src="images/columbia.png" style="width: 100%;">
    </div>
  </div>
  
  <div class="timeline-container timeline-left">
    <div class="timeline-content">
      <div style="font-size: 1.2em; padding-bottom: 10px;">2004</div>
      <image src="images/unilever.png" style="width: 150px;">
    </div>
  </div>
</div>