<div class="timeline">
  <div class="timeline-container timeline-left">
    <div class="timeline-content">
      <div class="work-dates">2017-present</div>
      <img src="images/ny_cares.png" style="width: 100px;" alt="New York Cares">
      <div class="work-location">New York Cares Team Leader</div>
      <div class="work-description">
        <ul>
            <li>I am an IRS certified volunteer tax preparer and I help New York residents prepare and file their tax 
            returns for free during the tax season.</li>
            <li>My duties include reviewing client tax documents and offering 
            help and guidance, preparing returns using tax software, and quality control to verify returns
            are accurate.</li>
            <li>I manage a small team of volunteers and act as a liaison between New York Cares 
            and partner organizations.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="timeline-container timeline-right">
    <div class="timeline-content">
      <div class="work-dates">2015-present</div>
      <img src="images/columbia.png" style="width: 90%;" alt="Columbia University">
      <div class="work-location">Senior Bioinformatician</div>
      <div class="work-description">
        I am data scientist analyzing and managing sequencing data in a cancer genomics lab.
        <ul>
            <li>
            I design data pipelines for processing ChIP-seq and RNA-seq data as well as specialized
            biology application development, database administration, and REST based web application
            development.</li>
            <li>Developed database backed genomic web applications running on Amazon Web Services using a mixture of Django, Spring Boot, and Postgresql.</li>
            <li>Developed and implemented a strategy to move lab data and core applications onto AWS EC2, S3, 
            and RDS services to make multi-user access more efficient.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="timeline-container timeline-left">
    <div class="timeline-content">
      <div class="work-dates">2012-2015</div>
      <img src="images/columbia.png" style="width: 90%;" alt="Columbia University">
      <div class="work-location">Associate Research Scientist</div>
      <div class="work-description">
        <ul>
        <li>Implemented data pipelines to process and analyze microarray, SNP 6.0, RNA-seq, Chip-seq, and single cell genomic data.</li>
        <li>My work resulted resulted in the publication of more than 16 research papers in high impact journals, including Nature, Cell, Blood, and
        the New England Journal of Medicine, primary focussed on
        B-cell development and =genetic lesions associated with development.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="timeline-container timeline-right">
    <div class="timeline-content">
      <div class="work-dates">2009-2012</div>
      <img src="images/columbia.png" style="width: 90%;" alt="Columbia University">
      <div class="work-location">Post Doctoral Research Scientist</div>
      <div class="work-description">
        <ul>
        <li>Implemented a research version of the electronic health records database at New York Presbyterian Hospital in MySQL for multi-user access.</li>
        <li>Developed applications in Matlab and Java to make research tools user accessible.</li>
        <li>Studied patterns of influenza in New York by data mining electronic health record databases in conjunction with New York Presbyterian Hospital.</li>
        <li>Looked for novel relationships between rare diseases and comorbidities to find potential avenues for new therapeutics. This work resulted in three publications.</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="timeline-container timeline-left">
    <div class="timeline-content">
      <div class="work-dates">2000-2004</div>
      <img src="images/unilever.png" style="width: 90px;" alt="Unilever">
      <div class="work-location">Unilever Research Summer Internships</div>
      <div class="work-description">
        Prototyping database applications for monitoring patients during trials in health science using MySQL, PHP, Perl and C#.
      </div>
    </div>
  </div>
</div>