<script>
    var ac = 1;
    
    function incAC() {
        document.write(ac++ + ". ");
    }
</script>

<div class="publications collapsible-content">
  <!-- <div class="collapsible-fade"></div> -->
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script>ChIP-suite: open source tools for integrative ChIP-seq data analysis</div>
    <div class="pub-authors"><span style="font-weight: 700;">Holmes, A. B.</span> and Dalla-Favera, R. and Basso, K.</div>
    <div class="pub-journal">Bioinformatics. 2018.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="https://doi.org/10.1016/j.ccell.2018.08.006">MEF2B Instructs Germinal Center Development and Acts as an Oncogene in B Cell Lymphomagenesis</a></div>
    <div class="pub-authors">Brescia, P. and Schneider, C. and <span style="font-weight: 700;">Holmes, A. B.</span> and Shen, Q. and Hussein, S. and Pasqualucci, L. and Basso, K. and Dalla-Favera, R.</div>
    <div class="pub-journal">Cancer Cell. 2018.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://www.pnas.org/content/114/14/E2911.long">Common nonmutational NOTCH1 activation in chronic lymphocytic leukemia</a></div>
    <div class="pub-authors">Fabbri, G. and <span style="font-weight: 700;">Holmes, A. B.</span> and Viganotti, M. and Scuoppo, C. and Belver, L. and Herranz, D. and Yan, X-J. and Kieso, Y. and Rossi, D. and Gaidano, G.</div>
    <div class="pub-journal">Proceedings of the National Academy of Sciences. 2017.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://cancerdiscovery.aacrjournals.org/content/7/3/322.long">The Crebbp Acetyltransferase is a Haploinsufficient Tumor Suppressor in B Cell Lymphoma</a></div>
    <div class="pub-authors">Zhang, J. and Vlasevska, S. and Wells, V. A. and Nataraj, S. and <span style="font-weight: 700;">Holmes, A. B.</span> and Duval, R. and Meyer, S. N. and Mo, T. and Basso, K. and Brindle, P. K. and Hussein, S. and Dalla-Favera, R. and Pasqualucci, L.</div>
    <div class="pub-journal">Cancer Discovery. 2017.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://www.bloodjournal.org/content/128/10/1362.long">The genetics of nodal marginal zone lymphoma</a></div>
    <div class="pub-authors">Spina, V. and Khiabanian, H. and Messina, M. and Monti, S. and Cascione, L. and Bruscaggin, A. and Spaccarotella, E. and <span style="font-weight: 700;">Holmes, A. B.</span> and Arcaini, L. and Lucioni, M. and Tabbo, F. and Zairis, S, and Diop, F. and Cerri, M. and Chiaretti, S. and M.sca, R. and Ponzoni, M. and Deaglio, S. and Ramponi, A. and Tiacci, E. and Pasqualucci, L. and P.li, M. and Falini, B. and Inghirami, G. and Bertoni, F. and Foa, R. and Rabadan, R. and Gaidano, G. and Rossi, D.</div>
    <div class="pub-journal">Blood. 2016.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="https://doi.org/10.18632/oncotarget.7356">Prognostic and therapeutic role of targetable lesions in B-lineage acute lymphoblastic leukemia without recurrent fusion genes</a></div>
    <div class="pub-authors">Messina, M. and Chiaretti, S. and Wang, J. and Fedullo, A. L. and Peragine, N. and Gianfelici, V. and Piciocchi, A. and Brugnoletti, F. and Di Giacomo, F. and Pauselli, S. and <span style="font-weight: 700;">Holmes, A. B.</span> and Puzzolo, M. Cristina and Ceglie, G. and Apicella, Valerio and Mancini, Marco and Te Kronnie, G. and Testi, A. M. and Vitale, A. and Vignetti, M. and Guarini, A. and Rabadan, R. and Foa, R.</div>
    <div class="pub-journal">Oncotarget. 2016.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="https://www.sciencedirect.com/science/article/pii/S1074761315004409">The FOXO1 Transcription Factor Instructs the Germinal Center Dark Zone Program</a></div>
    <div class="pub-authors">Dominguez-Sola, D. and Kung, J. and <span style="font-weight: 700;">Holmes, A. B.</span> and Wells, V. A and Mo, T. and Basso, K. and Dalla-Favera, R.</div>
    <div class="pub-journal">Immunity. 2015.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="https://www.nature.com/articles/nm.3940">Disruption of KMT2D perturbs germinal center B cell development and promotes lymphomagenesis</a></div>
    <div class="pub-authors">Zhang, J. and Dominguez-Sola, D. and Hussein, S. and Lee, J-E. and <span style="font-weight: 700;">Holmes, A. B.</span> and Bansal, M. and Vlasevska, S. and Mo, T. and Tang, H. and Basso, K. and Ge, K. and Dalla-Favera, R. and Pasqualucci, L.</div>
    <div class="pub-journal">Nature medicine. 2015.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="https://www.nature.com/articles/leu2014134">An aberrant microRNA signature in childhood T-cell lymphoblastic lymphoma affecting CDKN1B expression, NOTCH1 and growth factor signaling pathways</a></div>
    <div class="pub-authors">Mussolin, L and <span style="font-weight: 700;">Holmes, A. B.</span> and Romualdi, C and Sales, G. and D'Amore, E. S. G. and Ghisi, M. and Pillon, M. and Rosolen, A. and Basso, K.</div>
    <div class="pub-journal">Leukemia. 2014.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://www.bloodjournal.org/content/123/15/2378.long?sso-checked=true">Genetic lesions associated with chronic lymphocytic leukemia chemo-refractoriness</a></div>
    <div class="pub-authors">Messina, M. and Del Giudice, I. and Khiabanian, H. and Rossi, D. and Chiaretti, S. and Rasi, S. and Spina, V. and <span style="font-weight: 700;">Holmes, A. B.</span> and Marinelli, M. and Fabbri, G. and Piciocchi, A. and Francesca, R. M. and Guarini, A. and Gaidano, G. and Dalla-Favera, R. and Pasqualucci, L. and Rabadan, R. and Foa, R.</div>
    <div class="pub-journal">Blood. 2014.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="https://www.sciencedirect.com/science/article/pii/S2211124713007857">Genetics of follicular lymphoma transformation</a></div>
    <div class="pub-authors">Pasqualucci, L. and Khiabanian, H. and Fangazio, M. and Vasishtha, M. and Messina, M. and <span style="font-weight: 700;">Holmes, A. B.</span> and Ouillette, P. and Trifonov, V. and Rossi, D. and Tabbò, F. and Ponzoni, M. and Chadburn, A. and Murty, V. V. and Bhagat, G. and Gaidano, G. and Inghirami, Giorgio and Malek, Sami N and Rabadan, R. and Dalla-Favera, R.</div>
    <div class="pub-journal">Cell Reports. 2014.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://jem.rupress.org/content/210/11/2273.long">Genetic lesions associated with chronic lymphocytic leukemia transformation to Richter syndrome</a></div>
    <div class="pub-authors">Fabbri, G. and Khiabanian, H. and <span style="font-weight: 700;">Holmes, A. B.</span> and Wang, J. and Messina, M. and Mullighan, C. G. and Pasqualucci, L. and Rabadan, R. and Dalla-Favera, R.</div>
    <div class="pub-journal">Journal of Experimental Medicine. 2013.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://www.pnas.org/content/110/4/1404.long">tRNA-derived microRNA modulates proliferation and the DNA damage response and is down-regulated in B cell lymphoma</a></div>
    <div class="pub-authors">Maute, Roy L and Schneider, C. and Sumazin, P. and <span style="font-weight: 700;">Holmes, A. B.</span> and Califano, A. and Basso, K. and Dalla-Favera, R.</div>
    <div class="pub-journal">Proceedings of the National Academy of Sciences. 2013.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://jem.rupress.org/content/209/13/2455">BCL6 positively regulates AID and germinal center gene expression via repression of miR-155</a></div>
    <div class="pub-authors">Basso, K. and Schneider, C. and Shen, Q. and <span style="font-weight: 700;">Holmes, A. B.</span> and Setty, M. and Leslie, C. and Dalla-Favera, R.</div>
    <div class="pub-journal">Journal of Experimental Medicine. 2012.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://www.bloodjournal.org/content/120/11/2240.long">Identification of human germinal center light and dark zone cells and their relationship to human B-cell lymphomas</a></div>
    <div class="pub-authors">Victora, G. D. and Dominguez-Sola, D. and <span style="font-weight: 700;">Holmes, A. B.</span> and Deroubaix, S. and Dalla-Favera, R. and Nussenzweig, M. C.</div>
    <div class="pub-journal">Blood. 2012.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="https://www.sciencedirect.com/science/article/pii/S1535610811004375">Combined genetic inactivation of $\beta$2-Microglobulin and CD58 reveals frequent escape from immune recognition in diffuse large B cell lymphoma</a></div>
    <div class="pub-authors">Challa-Malladi, M. and Lieu, Y. K. and Califano, O. and <span style="font-weight: 700;">Holmes, A. B.</span> and Bhagat, G. and Murty, V. V. and Dominguez-Sola, D. and Pasqualucci, L. and Dalla-Favera, R.</div>
    <div class="pub-journal">Cancer Cell. 2011.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://www.bloodjournal.org/content/118/23/6153.long">Whole-exome sequencing identifies somatic mutations of BCOR in acute myeloid leukemia with normal karyotype</a></div>
    <div class="pub-authors">Grossmann, V. and Tiacci, E. and <span style="font-weight: 700;">Holmes, A. B.</span> and Kohlmann, A. and Martelli, M. P. and Kern, W. and Spanhol-Rosseto, A. and Klein, Hans-Ulrich and Dugas, Martin and Schindela, Sonja and Trifonov, V. and Schnittger, S. and Haferlach, Claudia and Bassan, Renato and Wells, V. A and Spinelli, Orietta and Chan, Joseph and Rossi, Roberta and Baldoni, Stefano and De C.is, Luca and Goetze, Katharina and Serve, Hubert and Peceny, Rudolf and Kreuzer, Karl-Anton and Oruzio, D. and Specchia, Giorgina and Di Raimondo, Francesco and Fabbiano, Francesco and Sborgia, Marco and Liso, Arcangelo and Farinelli, Laurent and Rambaldi, Alessandro and Pasqualucci, L. and Rabadan, R. and Haferlach, T. and Falini, Brunangelo</div>
    <div class="pub-journal">Blood. 2011.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0021132">Discovering disease associations by integrating electronic clinical data and medical literature</a></div>
    <div class="pub-authors"><span style="font-weight: 700;">Holmes, A. B.</span> and Hawson, A. and Liu, F. and Friedman, C. and Khiabanian, H. and Rabadan, R.</div>
    <div class="pub-journal">PLOS ONE. 2011.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="https://www.nejm.org/doi/full/10.1056/nejmoa1014209">BRAF mutations in hairy-cell leukemia</a></div>
    <div class="pub-authors">Tiacci, E. and Trifonov, V. and Schiavoni, G. and <span style="font-weight: 700;">Holmes, A. B.</span> and Kern, W. and Martelli, M. P. and Pucciarini, A. and Bigerna, B. and Pacini, R. and Wells, V. A and Sportoletti, P. and Pettirossi, V. and Mannucci, R. and Elliott, O. and Liso, A. and Ambrosetti, A. and Pulsoni, A. and Forconi, F. and Trentin, L. and Semenzato, G. and Inghirami, G. and Capponi, Monia and Di Raimondo, F. and Patti, Caterina and Arcaini, Luca and Musto, Pellegrino and Pileri, Stefano and Haferlach, Claudia and Schnittger, S. and Pizzolo, Giovanni and Foà, Robin and Farinelli, Laurent and Haferlach, T. and Pasqualucci, L. and Rabadan, R. and Falini, B.</div>
    <div class="pub-journal">The New England Journal of Medicine. 2011.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="https://academic.oup.com/mbe/article/28/8/2269/1050599">Discovery of cyanophage genomes which contain mitochondrial DNA polymerase</a></div>
    <div class="pub-authors">Chan, Y-W. and Mohr, R. and Millard, A. D. and <span style="font-weight: 700;">Holmes, A. B.</span> and Larkum, A. W. and Whitworth, A. L. and Mann, N. H. and Scanlan, D. J and Hess, W. R. and Clokie, M. R. J.</div>
    <div class="pub-journal">Molecular Biology and Evolution. 2011.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1001005">Network analysis of global influenza spread</a></div>
    <div class="pub-authors">Chan, J. and <span style="font-weight: 700;">Holmes, A. B.</span> and Rabadan, R.</div>
    <div class="pub-journal">PLOS Computational Biology. 2010.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0012658">Signs of the 2009 influenza pandemic in the New York-Presbyterian Hospital electronic health records</a></div>
    <div class="pub-authors">Khiabanian, H. and <span style="font-weight: 700;">Holmes, A. B.</span> and Kelly, B. J. and Gururaj, M. and Hripcsak, G. and Rabadan, R.</div>
    <div class="pub-journal">PLOS One. 2010.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1000686">Spatial simulations of myxobacterial development</a></div>
    <div class="pub-authors"><span style="font-weight: 700;">Holmes, A. B.</span> and Kalvala, S. and Whitworth, D. E</div>
    <div class="pub-journal">PLOS Computational Biology. 2010.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.303.385&rep=rep1&type=pdf">Myxobacteria motility: a novel 3D model of rippling behaviour in Myxococcus xanthus</a></div>
    <div class="pub-authors"><span style="font-weight: 700;">Holmes, A. B.</span> and Kalvala, S. and Whitworth, D.</div>
    <div class="pub-journal">Communications of the Systematics and Informatics World Network. 2009.</div>
  </div>
  <div class="pub-article">
    <div class="pub-title"><script>incAC();</script><a class="pub-title-link" target="_blank" href="http://jb.asm.org/content/190/6/1997.short">Phosphate acquisition components of the Myxococcus xanthus Pho regulon are regulated by both phosphate availability and development</a></div>
    <div class="pub-authors">Whitworth, D. E and <span style="font-weight: 700;">Holmes, A. B.</span> and Irvine, A. G. and Hodgson, D. A and Scanlan, D. J.</div>
    <div class="pub-journal">Journal of Bacteriology. 2008.</div>
  </div>
</div>
<div style="text-align: center; padding: 5px;">
  <div class="collapsible fa fa-angle-double-down"></div>
</div>
