/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgba(100, 149, 237, 1);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: rgba(100, 149, 237, 1);
    border: solid 2px white;
    top: 50%;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.timeline-left {
    left: 0;
}

/* Place the container to the right */
.timeline-right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.timeline-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgba(100, 149, 237, 1);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(100, 149, 237, 1);
}

/* Add arrows to the right container (pointing left) */
.timeline-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgba(100, 149, 237, 1);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(100, 149, 237, 1) transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
    left: -12px;
}

/* The actual content */
.timeline-content {
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 6px;
}