{% macro skill(name='java', p=90) -%}
  <div class="col-sm-3">
    <div style="font-weight: 600; font-size: 0.9em; text-transform: uppercase;">{{ name }}</div>
    <div class="skill-container">
        <div class="skill skill-{{ p }}"></div>
    </div>
  </div>
{%- endmacro %}

<html>
  <head>
      <title>My super title</title>
      <meta name="tags" content="thats, awesome" />
      <meta name="date" content="2012-07-09 22:28" />
      <meta name="modified" content="2012-07-10 20:14" />
      <meta name="category" content="yeah" />
      <meta name="authors" content="Antony B Holmes" />
      <meta name="summary" content="Short version for index and feeds" />
      <meta name="save_as" content="index.html" />
  </head>
  <body>
    {% include 'pages/templates/home-heading-section-start.html' %}
      <div class="row">
        <div class="col-sm-12">
          <div style="font-weight: 300; font-size: 48pt; letter-spacing: 8px;">antony b</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div style="font-weight: 600; font-size: 60pt; letter-spacing: 8px; margin-top: -30px; color: rgba(100, 149, 237, 0.5);">HOLMES</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div style="font-weight: 300; margin-top: 20px; font-size: 2em;">Data Scientist</div>
        </div>
      </div>
    {% include 'pages/templates/home-section-end.html' %}

    {% include 'pages/templates/home-section-start.html' %}
      <div class="row">
        <div class="col-sm-3">
          <div class="address-title">Location</div>
          <div class="address">New York</div>
        </div>
        <div class="col-sm-3">
          <div class="address-title">Phone</div>
          <div class="address">+1 (347) 688 5690</div>
        </div>
        <div class="col-sm-3">
          <div class="address-title">Web</div>
          <div class="address">antonyholmes.com</div>
          <div class="address">github.com/antonybholmes</div>
        </div>
        <div class="col-sm-3">
          <div class="address-title">Email</div>
          <div class="address">antony@antonyholmes.com</div>
        </div>
      </div>
    {% include 'pages/templates/home-section-end.html' %}
    
    {% with name = 'Expertise' %}
    {% include 'pages/templates/home-section-start.html' %}
    {% endwith %}
    {% include 'pages/templates/home-section-end.html' %}
    
    {% with name = 'Skills' %}
    {% include 'pages/templates/home-section-start.html' %}
    {% endwith %}
      <div class="row">
        {{ skill('Java', 90) }}
        {{ skill('C++', 70) }}
        {{ skill('Python', 80) }}
        {{ skill('R', 60) }}
      </div>
    {% include 'pages/templates/home-section-end.html' %}

    
    {% with name = 'Publications' %}
    {% include 'pages/templates/home-section-start.html' %}
    {% endwith %}
    {% include 'pages/templates/resume/publications.html' %}
    {% include 'pages/templates/home-section-end.html' %}
    
    {% include 'pages/templates/home-section-start.html' %}
      <div style="text-align: center; margin-bottom: 50px">
        <div class="copyright">&copy; 2018 <a class="email" href="mailto:antony@antonyholmes.com">Antony B Holmes</a></div>
      </div>
    {% include 'pages/templates/home-section-end.html' %}
  </body>
</html>
