{% macro skill(name='java', p=90) -%}
  <div class="col-sm-4">
    <div style="font-weight: 700; color: rgba(100, 149, 237, 0.9); font-size: 0.9em;">{{ name }}</div>
    <div class="skill-container">
        <div class="skill skill-{{ p }}"></div>
    </div>
  </div>
{%- endmacro %}

{% macro pill(name='java', p=90) -%}
  <div class="col-sm-3">
    <div class="pill-container">
        <div class="pill skill-{{ p }}"></div>
        <div class="pill-label skill-{{ p }}">{{ name }}</div>
    </div>
  </div>
{%- endmacro %}

<html>
  <head>
      <title>Home</title>
      <meta name="tags" content="home, antony" />
      <meta name="date" content="2018-06-22" />
      <meta name="category" content="home" />
      <meta name="authors" content="Antony B Holmes" />
      <meta name="summary" content="Antony Holmes homepage" />
      <meta name="save_as" content="index.html" />
  </head>
  <body>
    <div class="container-fluid bg" style="position: relative; padding: 0; margin: 0; height: 400px; text-align: center; vertical-align: middle;">
      <div style="position: relative; top: 50%; transform: translateY(-50%);">
        <div style="font-weight: 900; font-size: 2.5em; letter-spacing: 0.5em; color: rgba(255, 255, 255, 0.8);">ANTONY B HOLMES</div>
        <div style="font-weight: 300; font-size: 1.5em; letter-spacing: 0.25em; color: rgba(255, 255, 255, 0.8);">Data Scientist</div>
        <div style="font-weight: 300; margin-top: 100px;"><a class="title-email" href="mailto:antony@antonyholmes.com">antony@antonyholmes.com</a></div>
      
      </div>
    </div>
  
    {% include 'templates/home-section-start.html' %}
      <div class="row">
        <div class="col-sm-3">
          <div class="address-title">Location</div>
          <div class="address">New York</div>
        </div>
        <div class="col-sm-3">
          <div class="address-title">Phone</div>
          <div class="address">+1 (347) 688 5690</div>
        </div>
        <div class="col-sm-3">
          <div class="address-title">Web</div>
          <div class="address"><a class="email" href="https://antonyholmes.com" target="_blank">antonyholmes.com</a></div>
          <div class="address"><a class="email" href="https://linkedin.com/in/antonybholmes" target="_blank">linkedin.com/in/antonybholmes</a></div>
          <div class="address"><a class="email" href="https://github.com/antonybholmes" target="_blank">github.com/antonybholmes</a></div>
        </div>
      </div>
    {% include 'templates/home-section-end.html' %}
    
    {% with name = 'Skills', id = 'skills' %}
    {% include 'templates/home-alt-section-start.html' %}
    {% endwith %} 
      <div class="row skill-row">
        {{ pill('Java', 90) }}
        {{ pill('C++', 70) }}
        {{ pill('Python', 80) }}
      </div>
      <div class="row skill-row">
        {{ pill('R', 70) }}
        {{ pill('Postgresql', 70) }}
        {{ pill('MySQL', 70) }}
      </div>
      <div class="row skill-row">
        {{ pill('Apache Tomcat', 70) }}
        {{ pill('Shell scripting', 70) }}
        {{ pill('MATLAB', 50) }}
      </div>
      <div class="row skill-row">
        {{ pill('Spring', 60) }}
        {{ pill('HTML/CSS', 70) }}
        {{ pill('Javascript', 60) }}
      </div>
    {% include 'templates/home-section-end.html' %}
    
    {% with name = 'Employment' %}
    {% include 'templates/home-section-start.html' %}
    {% endwith %}
    {% include 'templates/work.html' %}
    {% include 'templates/home-section-end.html' %}
    
    {% with name = 'Education' %}
    {% include 'templates/home-alt-section-start.html' %}
    {% endwith %}
    
    <div class="edu">
      <div class="edu-title">Ph.D in Mathematical Biology</div>
      <div class="edu-institute">University of Warwick, UK</div>
      <div class="edu-grad">2009</div>
      <div class="edu-description"><span style="font-style: italic">Understanding morphogenesis in myxobacteria from a theoretical and experimental perspective</span></div>
    </div>
    
    <div class="edu">
      <div class="edu-title">M.Sc in Computer Science</div>
      <div class="edu-institute">University of Warwick, UK</div>
      <div class="edu-grad">2005</div>
    </div>
    
    <div class="edu">
      <div class="edu-title">B.Sc in Computer Science</div>
      <div class="edu-institute">University of Warwick, UK</div>
      <div class="edu-grad">2004</div>
      <div class="edu-description">First-class honours</div>
    </div>
    
    
    {% include 'templates/home-section-end.html' %}
    
    
    {% with name = 'Publications' %}
    {% include 'templates/home-section-start.html' %}
    {% endwith %}
    {% include 'templates/resume/publications.html' %}
    {% include 'templates/home-section-end.html' %}
    

    <div class="container-fluid section">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <div class="address"><a class="email" href="mailto:antony@antonyholmes.com">antony@antonyholmes.com</a></div>
            <div class="address"><a class="email" href="tel:1-347-688-5690">+1 (347) 688 5690</a></div>
            <div class="address"><a class="email" href="https://linkedin.com/in/antonybholmes" target="_blank">linkedin.com/in/antonybholmes</a></div>
            <div class="address"><a class="email" href="https://github.com/antonybholmes" target="_blank">github.com/antonybholmes</a></div>
        </div>
        <div class="col-sm-3">
          <div class="address address-right">&copy; 2018 <a class="email" href="mailto:antony@antonyholmes.com">Antony Holmes</a></div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
    
    
    <script>
      var coll = document.getElementsByClassName("collapsible");
 
      coll[0].addEventListener("click", function() {
        var button = document.getElementsByClassName("collapsible")[0];
        
        button.classList.toggle("fa-angle-double-down");
        button.classList.toggle("fa-angle-double-up");
        
        var content = document.getElementsByClassName("collapsible-content")[0];
        
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = (content.scrollHeight + 50) + "px";
        } 
      });
      
      // Animate pills when user first hovers mouse over them.
      $('#skills').one("mouseover", function() {
          var t1 = $(this);
          
          //$('.pill-label').css('opacity', 0);
          
          t1.find('.pill-container').each(function() {
            var t2 = $(this);
            
            t2.find('.pill-label').css('opacity', 0);
            
            t2.find('.pill').each(function() {
              var t3 = $(this);
              
              var w = t3.css('width');
              t3.width(0);
            
              t3.animate({width: w}, 2000, 'swing', function() {
                // Fade in the skill labels
                t2.find('.pill-label').fadeTo(1000, 1, 'swing');
              });
            });
          });
        }
      );
      
    </script>
  </body>
</html>
