{% macro skill(name='java', p=90) -%}
  <div class="col-sm-3">
    <div style="font-weight: 600; font-size: 0.9em; text-transform: uppercase;">{{ name }}</div>
    <div class="skill-container">
        <div class="skill skill-{{ p }}"></div>
    </div>
  </div>
{%- endmacro %}

<html>
  <head>
      <title>Antony B Holmes</title>
      <meta name="tags" content="home, antony" />
      <meta name="date" content="2018-06-22" />
      <meta name="category" content="home" />
      <meta name="authors" content="Antony B Holmes" />
      <meta name="summary" content="Antony Holmes homepage" />
      <meta name="save_as" content="index.html" />
  </head>
  <body>
    {% include 'templates/home-heading-section-start.html' %}
      <div style="margin-left: 0px;">
        <div class="row">
          <div class="col-sm-12">
            <div style="font-weight: 400; font-size: 48pt; letter-spacing: 20px; margin-top: 50px;">antony b</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div style="font-weight: 600; font-size: 60pt; letter-spacing: 20px; margin-top: -40px; color: rgba(100, 149, 237, 0.5);">HOLMES</div>
          </div>
        </div>
       
        
        <div class="row">
          <div class="col-sm-12">
            <div style="font-weight: 300; margin-top: 10px; font-size: 2em;">Data Scientist</div>
          </div>
        </div>
      </div>
    {% include 'templates/home-section-end.html' %}
    
    {% include 'templates/home-section-spacer.html' %}

    {% include 'templates/home-section-start.html' %}
      <div class="row">
        <div class="col-sm-3">
          <div class="address-title">Location</div>
          <div class="address">New York</div>
        </div>
        <div class="col-sm-3">
          <div class="address-title">Phone</div>
          <div class="address">+1 (347) 688 5690</div>
        </div>
        <div class="col-sm-3">
          <div class="address-title">Web</div>
          <div class="address">antonyholmes.com</div>
          <div class="address">github.com/antonybholmes</div>
        </div>
        <div class="col-sm-3">
          <div class="address-title">Email</div>
          <div class="address">antony@antonyholmes.com</div>
        </div>
      </div>
    {% include 'templates/home-section-end.html' %}
    
    {% include 'templates/home-section-spacer.html' %}
    
    {% with name = 'Expertise' %}
    {% include 'templates/home-section-start.html' %}
    {% endwith %}
    {% include 'templates/home-section-end.html' %}
    
    {% include 'templates/home-section-spacer.html' %}
    
    {% with name = 'Skills' %}
    {% include 'templates/home-section-start.html' %}
    {% endwith %}
      <div class="row">
        {{ skill('Java', 90) }}
        {{ skill('C++', 70) }}
        {{ skill('Python', 80) }}
      </div>
      <div class="row" style="padding-top: 20px">
        {{ skill('R', 60) }}
      </div>
    {% include 'templates/home-section-end.html' %}

    {% include 'templates/home-section-spacer.html' %}
    {% with name = 'Work Experience' %}
    {% include 'templates/home-section-start.html' %}
    {% endwith %}
    {% include 'templates/work.html' %}
    {% include 'templates/home-section-end.html' %}
    
    
    {% include 'templates/home-section-spacer.html' %}
    {% with name = 'Publications' %}
    {% include 'templates/home-section-start.html' %}
    {% endwith %}
    {% include 'templates/resume/publications.html' %}
    {% include 'templates/home-section-end.html' %}
    
    {% include 'templates/home-section-spacer.html' %}
    
    {% include 'templates/home-section-start.html' %}
      <div style="text-align: center; margin-bottom: 50px">
        <div class="copyright">&copy; 2018 <a class="email" href="mailto:antony@antonyholmes.com">Antony B Holmes</a></div>
      </div>
    {% include 'templates/home-section-end.html' %}
    
    
    <script>
      var coll = document.getElementsByClassName("collapsible");
 
      coll[0].addEventListener("click", function() {
        var button = document.getElementsByClassName("collapsible")[0];
        
        button.classList.toggle("fa-angle-double-down");
        button.classList.toggle("fa-angle-double-up");
        
        var content = document.getElementsByClassName("collapsible-content")[0];
        
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = (content.scrollHeight + 50) + "px";
        } 
      });
    </script>
  </body>
</html>
